h1 {
	text-align: center;
	font-size: 2em;
}

.head {
	border: 2px solid #BBB;
	background-color: #EEE;
}

.lv1 {
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	padding-left: 4px;
}

.lv2 {
	height: 32px;
	line-height:32px;
	padding-left: 38px;
	background-image: url("sub.gif");
	background-repeat: no-repeat;
	font-size: 20px;
}

.lv3 {
	height: 32px;
	line-height:32px;
	padding-left: 38px;
	margin-left: 64px;
	background-image: url("sub.gif");
	background-repeat: no-repeat;
	font-size: 20px;
}

.tree .t {
	height: 20px;
	line-height: 20px;
	padding-left: 24px;
	background-image: url("tree_t.gif");
	background-repeat: no-repeat;
}

.tree .l {
	height: 20px;
	line-height: 20px;
	padding-left: 24px;
	background-image: url("tree_l.gif");
	background-repeat: no-repeat;
}

.tree .it {
	height: 20px;
	line-height: 20px;
	padding-left: 44px;
	background-image: url("tree_it.gif");
	background-repeat: no-repeat;
}

.tree .il {
	height: 20px;
	line-height: 20px;
	padding-left: 44px;
	background-image: url("tree_il.gif");
	background-repeat: no-repeat;
}

.tree .bt {
	height: 20px;
	line-height: 20px;
	margin-left: 20px;
	padding-left: 24px;
	background-image: url("tree_t.gif");
	background-repeat: no-repeat;
}

.tree .bl {
	height: 20px;
	line-height: 20px;
	margin-left: 20px;
	padding-left: 24px;
	background-image: url("tree_l.gif");
	background-repeat: no-repeat;
}

.tree .ibt {
	height: 20px;
	line-height: 20px;
	padding-left: 64px;
	background-image: url("tree_ibt.gif");
	background-repeat: no-repeat;
}

.tree .ibl {
	height: 20px;
	line-height: 20px;
	padding-left: 64px;
	background-image: url("tree_ibl.gif");
	background-repeat: no-repeat;
}

.tree .iit {
	height: 20px;
	line-height: 20px;
	padding-left: 64px;
	background-image: url("tree_iit.gif");
	background-repeat: no-repeat;
}

.tree .iil {
	height: 20px;
	line-height: 20px;
	padding-left: 64px;
	background-image: url("tree_iil.gif");
	background-repeat: no-repeat;
}

.tree .ibit {
	height: 20px;
	line-height: 20px;
	padding-left: 84px;
	background-image: url("tree_ibit.gif");
	background-repeat: no-repeat;
}

.tree .ibil {
	height: 20px;
	line-height: 20px;
	padding-left: 84px;
	background-image: url("tree_ibil.gif");
	background-repeat: no-repeat;
}

.tree .ibbt {
	height: 20px;
	line-height: 20px;
	padding-left: 84px;
	background-image: url("tree_ibbt.gif");
	background-repeat: no-repeat;
}

.tree .ibbl {
	height: 20px;
	line-height: 20px;
	padding-left: 84px;
	background-image: url("tree_ibbl.gif");
	background-repeat: no-repeat;
}

.active {
	color: red;
}

.trigger {
	margin-top: 1em;
	font-weight: bold;
	color: red;
}

.exp {
	margin-top: 1em;
}

.exp-return {

}

.sec {
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.param-list {
	background-color: #BBB;
	margin-left: 5%;
	width: 95%;
}

.param-list .type {
	width: 20%;
	padding: 2px;
	background-color: #EEE;
	font-family: monospace;
}

.param-list .desc {
	width: 80%;
	padding: 2px;
	background-color: #EEE;
}

.name {
	width: 50%;
	padding: 2px;
	font-family: monospace;
}

.value {
	width: 50%;
	padding: 2px;
}